# virtual environments
venv/
.venv/
env/

# environment variables
.env
.env.*

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# logs
*.log
storage/logs/

# OS
.DS_Store
Thumbs.db

app/public/artworks/models/*
!app/public/artworks/models/.gitkeep

app/public/artworks/multimedia/images/*
!app/public/artworks/multimedia/images/.gitkeep

app/public/artworks/multimedia/videos/*
!app/public/artworks/multimedia/videos/.gitkeep

app/public/artworks/thumbnails/*
!app/public/artworks/thumbnails/.gitkeep

app/public/users/avatars/*
!app/public/users/avatars/.gitkeep

app/public/users/covers/*
!app/public/users/covers/.gitkeep